cache/
deprecated/
.env/
**__pycache__/
orders/
*.egg-info
build/
dist/
.vscode/
**.pyc
**/.ipynb_checkpoints/**
csvs/**
.coco/**
.dataset/**
.coverage
wandb/
results/
.results/**
csv/**
notebooks/
*.csv
*.json
*.ipynb
logs/**
*.mp4
*.log
*.zip
*.jpg
*.png